*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 1.125rem;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  max-width: 30.837ch * 2;
  line-height: 1.5;
  overflow-wrap: break-word;
  text-wrap: balance;
  word-break: keep-all;
}

img,
picture,
svg,
canvas,
video {
  display: block;
  max-width: 100%;
}

.viewport {
  height: 100dvh;
  overflow-x: auto;
  overflow-y: scroll;
}

.container {
  width: 90rem;
  margin-inline: auto;
  padding-inline: 1.25rem;

  // &--width-fixed {
  //   width: 70rem;
  //   padding-inline: 5rem;
  // }
}

.center {
}
